__pycache__
.gradio
.byaldi
.ruff_cache
.env

readme_ollama.md
ollama.sif
cat-facts.txt
image.jpg
jupyter.sbatch

*log
*ipynb*
*.err
*.out

Colon-TC
Colon-TC_*
Markdown
Markdown_temp
Output
docs
faiss_index
notebooks_RAG
temp_images
notebooks
src/agentic_rag/__pycache__
src/agentic_rag.egg-info

src/agentic_rag/_version.py 

python-venv

basic_app.py
demo_rag.py
demo_rag2.py
demo_rag3.py
