__pycache__
.gradio
.byaldi
.ruff_cache

readme_ollama.md
ollama.sif
cat-facts.txt
image.jpg
jupyter.sbatch

*log
*ipynb*

Colon-TC
Colon-TC_*
Markdown
Output
docs
faiss_index
notebooks_RAG
temp_images



basic_app.py
demo_rag.py
demo_rag2.py
demo_rag3.py
